
@import "../../variables/colors/colors.scss";
@import "../../variables/mixin/mixin.scss";
@import "../../variables/fonts/fonts.scss";
@keyframes fill-anim {
	0% {
		fill-opacity: 0;
		stroke-dashoffset: 0;
	}
	25% {
		stroke: black;
		stroke-dashoffset: 10;
		fill: #FF79DA;
	}
	50% {
		fill-opacity: 1;
		stroke-dashoffset: 50;
		fill: #9356DC;
	}
	100% {
		fill-opacity: 1;
		stroke-dashoffset: 100;
		stroke: white;
	}
}
/* input checked like */
.card {
	article {
		position: relative;
	}
}
.heart-anim {
	position: absolute;
	bottom: 1.56rem;
	right: 1.56rem;
}
.logo-anim {
	width: 22px;
	height: 21px;
	path {
		fill: white;
		stroke: black;
		fill-opacity: 0;
		stroke-dasharray: 100;
		stroke-dashoffset: 0;
		stroke-width: 0.5;
		&:hover {
			stroke: white;
			fill-opacity: 1;
			animation-name: fill-anim;
			animation-duration: 1s;
			animation-fill-mode: forwards;
		}
	}
}
#logo-anim1 {
	path {
		&:hover {
			fill: url(#paint1);
		}
	}
}
#logo-anim2 {
	path {
		&:hover {
			fill: url(#paint2);
		}
	}
}
#logo-anim3 {
	path {
		&:hover {
			fill: url(#paint3);
		}
	}
}
#logo-anim4 {
	path {
		&:hover {
			fill: url(#paint4);
		}
	}
}
.hideButton {
	display: none;
	&:checked {
		+ {
			.heartSvg {
				svg {
					path {
						fill: $light-color;
						stroke: $dark-color;
						stroke-width: 0.5;
					}
				}
			}
		}
	}
}
.heartSvg {
	cursor: pointer;
}
