@import url("../css/generic.css");

@media (min-width: 1024px) {
  .wrapper-func {
    display: flex;
    flex-direction: row;
    justify-content: unset;

  }
  .wrapper-func :nth-child(1) img {
    padding-left: 2.11rem;
  }
  .wrapper-func :nth-child(2) img{
    padding-left: 2.21rem;
  }
  .wrapper-func :nth-child(3) img{
    padding-left: 2.36rem;
  }
  .wrapper{
    gap: 1.67rem !important;
  }
  section.fonctioning .wrapper p {
    text-wrap: unset;

  }
  body > div > main > section.restaurants > div {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 6.25rem !important;
  }

  .bg-menu {
    /* height: 383px; */
  }

  .menu {
    padding: 51px 210px 40px;
    max-width: 1055px;
    margin: 0 193px;
  }
  .wrapper {
    width: 100%;
  }
  .wrapper-func {
    gap: 37px !important;
  }
  .fonctioning {
    padding: 1.03rem 11.25rem !important;
  }
  .restaurants {
    padding: 1.88rem 11.25rem;
  }
  .footer {
    display: flex;
  }
  body > div > footer > div {
    flex-direction: row !important;
  }
  .footer {
    flex-direction: row-reverse;
    .txt {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .txt img {
      width: 0.88rem !important;
    }
    .txt > div:nth-child(2) > p {
      width: 10.5rem !important;
    }
    .txt > p:nth-child(4) {
      width: 8.12rem !important;
    }
    p.logo {
      padding-right: 0.886rem;
    }
  }
}
