@import url('../css/generic.css');

@media (min-width: 768px) { 

  .wrapper-func{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  body > div > main > section.restaurants > div{
    display: grid!important;
    grid-template-columns: repeat(2,1fr)!important;
    grid-gap: 6.25rem!important;
  }

  .bg-menu{
    /* height: 383px; */

  }

  .menu{
    /* margin-top: 238px!important;
    padding: 0.94rem 10% 0!important;
    margin: 15%!important; */
    padding: 0.94rem 10% 0!important;
    margin: 258px 15% 0 !important;
  }

} 