@media screen and (min-width: 1024px) and (max-width: 1440px) {
  section.fonctioning .wrapper p {
    font-size: clamp(14px, 1vw, 16px);
    text-wrap: nowrap;
  }
  .wrapper-func {
    gap: clamp(16px,1vw,36px)!important;
  }
  .wrapper-func img {
    padding-left: 1vw !important;
  }
  .wrapper {
    gap: 1vw !important;
    padding: 1.76rem 1vw !important;

  }
}
